<!DOCTYPE html>
<html>
<head>
	<title>Edit job</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'first_app/css/styleEditJob.css' %}">
</head>
<body>
	<div id="header">
		<h1>Hello {{ Job.job_from_user.first_name }}! Edit Your Job!</h1>
		<a href="/logoff">log off</a>
	</div>
	{% if messages %}
                {% for message in messages %}
                 {% if 'job' in message.tags %}
                <p>{{message}}</p>
                {% endif %}
                {% endfor %}
            {% endif %}
	<div id ='jobs'>
		<table>
			<form action="/processEdit" method="post">
				{% csrf_token %}
				<tr>
					<td>
						<h2>Title</h2>
					</td>
					<td>
						<input type="text" name="title">
					</td>
				</tr>
				<tr>
					<td>
						<h2>Description</h2>
					</td>
					<td>
						<input type="text" name="desc">
					</td>
				</tr>
				<tr>
					<td>
						<h2>Location</h2>
					</td>
					<td>
						<input type="text" name="location">
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="Submit">
					</td>
			</form>
					<td>
						<form id="cancel" action="/home" method="post">
							{% csrf_token %}
							<input type="submit" name="sub" value="Cancel">
						</form>
					</td>
				</tr>
			
			
		</table>
	
	</div>
	<div id="user_jobs">

	</div>
</body>
</html>